{{ header }}
{{ column_left }}

<div id="content" class="arc-module js-editor">
    {% set architect = architect|merge({'i18n': i18n}) %}
    <script>var architect = {{ architect|json_encode() }}; delete architect.model;</script>

    <div class="content-head head-shadow">
        <h1>{{ architect.title }}</h1>

        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>

        <div class="pull-right">
            <button type="button" form="form-architect" class="btn btn-primary js-save">{{ i18n.text_save }}</button>
            <a href="{{ architect.url_module_manage }}" class="btn btn-default">{{ i18n.text_close }}</a>
        </div>
    </div> <!-- /.content-head -->

    <div class="content-body">
        <form id="form-architect" action="{{ architect.url_module_save }}" method="post" enctype="multipart/form-data">

            <div class="arc-panel arc-flex">
                <input type="hidden" name="module_id" value="{{ architect.setting.module_id }}" class="form-control module_id">
                <input type="hidden" name="identifier" value="{{ architect.setting.identifier }}" class="form-control identifier">

                <div class="panel-sidebar">
                    <div class="form-group required">
                        <label class="control-label">{{ i18n.entry_name }}</label>
                        <input type="text" name="name" value="{{ architect.setting.name }}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ i18n.entry_note }}</label>
                        <textarea name="meta[note]" cols="50" rows="6" class="form-control arc-note" placeholder="{{ i18n.placeholder_note }}">{{ architect.setting.meta.note }}</textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ i18n.entry_editor }}</label>
                        <div class="ml-10">
                            <div class="checkbox">
                                <label><input type="checkbox" name="meta[editor][controller]" value="1" {{ architect.setting.meta.editor.controller ? 'checked' : '' }} data-arc-tab-visible='controller'> {{ i18n.text_controller }}</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="meta[editor][model]" value="1" {{ architect.setting.meta.editor.model ? 'checked' : '' }} data-arc-tab-visible='model'> {{ i18n.text_model }}</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="meta[editor][template]" value="1" {{ architect.setting.meta.editor.template ? 'checked' : '' }} data-arc-tab-visible='template'> {{ i18n.text_template }}</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="meta[editor][modification]" value="1" {{ architect.setting.meta.editor.modification ? 'checked' : '' }} data-arc-tab-visible='modification'> {{ i18n.text_modification }}</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="meta[editor][event]" value="1" {{ architect.setting.meta.editor.event ? 'checked' : '' }} data-arc-tab-visible='event'> {{ i18n.text_event }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ i18n.entry_status }}</label>
                        <div>
                            <div class="btn-group btn-radio">
                                <input type="radio" name="status" id="status-1" value="1" hidden {{ architect.setting.status ? 'checked' : '' }}>
                                <label for="status-1" class="btn btn-default btn-active-success">{{ i18n.text_enabled }}</label>
                                <input type="radio" name="status" id="status-0" value="0" hidden {{ architect.setting.status ? '' : 'checked' }}>
                                <label for="status-0" class="btn btn-default btn-active-danger">{{ i18n.text_disabled }}</label>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.panel-sidebar -->

                <div class="panel-auto">
                    <div class="panel-content">

                        <div class="tab-navigation">
                            <ul class="nav nav-tabs arc-nav-editor js-nav-editor">
                                <li style="{{ not architect.setting.meta.editor.controller ? 'display:none' : '' }}">
                                    <a href="#tab-controller" data-toggle="tab" class="js-editor-controller">{{ i18n.text_controller }}</a>
                                </li>
                                <li style="{{ not architect.setting.meta.editor.model ? 'display:none' : '' }}">
                                    <a href="#tab-model" data-toggle="tab" class="js-editor-model">{{ i18n.text_model }}</a>
                                </li>
                                <li style="{{ not architect.setting.meta.editor.template ? 'display:none' : '' }}">
                                    <a href="#tab-template" data-toggle="tab" class="js-editor-template">{{ i18n.text_template }}</a>
                                </li>
                                <li style="{{ not architect.setting.meta.editor.modification ? 'display:none' : '' }}">
                                    <a href="#tab-modification" data-toggle="tab" class="js-editor-modification">{{ i18n.text_modification }}</a>
                                </li>
                                <li style="{{ not architect.setting.meta.editor.event ? 'display:none' : '' }}">
                                    <a href="#tab-event" data-toggle="tab" class="js-editor-event">{{ i18n.text_event }}</a>
                                </li>
                                <li>
                                    <a href="#tab-option" data-toggle="tab" class="js-editor-option">{{ i18n.text_options }}</a>
                                </li>
                            </ul>

                            <div class="arc-help-editor">
                                <a data-toggle="modal" data-target="#arc-help-editor" title="Quick reference"><i class="fa fa-question-circle"></i></a>
                            </div>
                        </div>

                        <div class="tab-content">
                            <div id="tab-controller" class="tab-pane fade">
                                <textarea name="controller" id="cm-controller" cols="50" rows="10" class="form-control" data-arc-codemirror='{"mode":"application/x-httpd-php"}'>{{ architect.setting.controller }}</textarea>
                            </div>
                            <div id="tab-model" class="tab-pane fade">
                                <textarea name="model" id="cm-model" cols="50" rows="10" class="form-control" data-arc-codemirror='{"mode":"application/x-httpd-php"}'>{{ architect.setting.model }}</textarea>
                            </div>
                            <div id="tab-template" class="tab-pane fade">
                                <textarea name="template" id="cm-template" cols="50" rows="10" class="form-control" data-arc-codemirror='{"mode":"application/x-httpd-php"}'>{{ architect.setting.template }}</textarea>
                            </div>
                            <div id="tab-modification" class="tab-pane fade">
                                <textarea name="modification" id="cm-modification" cols="50" rows="10" class="form-control" data-arc-codemirror='{"mode":"application/xml"}'>{{ architect.setting.modification }}</textarea>
                            </div>
                            <div id="tab-event" class="tab-pane fade">
                                <textarea name="event" id="cm-event" cols="50" rows="10" class="form-control" data-arc-codemirror='{"mode":"application/x-httpd-php"}'>{{ architect.setting.event }}</textarea>
                            </div>
                            <div id="tab-option" class="tab-pane fade">
                                {{ tab_option }}
                            </div>
                        </div>

                    </div>
                </div> <!-- /.panel-auto -->
            </div>

        </form>
    </div> <!-- /.content-body -->

    <!-- ============ -->

    <div id="arc-help-editor" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                {{ quick_reference }}
            </div>
        </div>
    </div>

    <div class="arc-notification">
        {% for notify in notifications %}
            <div class="alert alert-{{ notify.type }}">
                {{ notify.message }}
            </div>
        {% endfor %}
    </div>

</div> <!-- /.arc-module -->

{{ footer }}
