{% for gist in gists %}
    <tr>
        <td>
            <div class="gist-name">
                {{ gist.name }} v{{ gist.version }}
            </div>
            {% if gist.description %}
                <div class="gist-description small text-muted hidden-xs">{{ gist.description }}</div>
            {% endif %}
        </td>
        <td>{{ gist.author }}</td>
        <td class="text-center"><a href="{{ architect.url_module }}&module_id=0&gist={{ gist.file }}" class="btn btn-primary btn-sm">Insert</a></td>
    </tr>
{% endfor %}
