{% for gist in gists %}

<div class="col-xs-4 col-md-3">
    <div class="thumbnail">
        <div class="gist-image">
            <a data-lightbox>
                <img src="{{ gist.image }}" alt="{{ gist.name }} v{{ gist.version }} by {{ gist.author }}">
            </a>
        </div>
        <div class="caption">
            <h3 class="gist-name">{{ gist.name }} v{{ gist.version }}</h3>
            {% if gist.description %}
                <div class="gist-description">{{ gist.description }}</div>
            {% endif %}

        </div>
        <div class="gist-footer">
            <a href="{{ gist.link }}" target="_blank" title="Developed by {{ gist.author }}" data-toggle="tooltip">{{ gist.author }}</a>
            <a href="{{ architect.url_module }}&module_id=0&gist={{ gist.codename }}" class="btn btn-primary btn-sm">Insert</a>
        </div>
    </div>
</div>

{% endfor %}
