<h2 class=" text-center">Quick Reference</h2>
<hr class="hr">

<p>For complete documentation, please refer to the project <a href="https://github.com/iSenseLabs/architect/wiki" target="_blank">Wiki</a>.</p>

<h3 class="legend">On Save</h3>
<p>Each editor will be saved to respected file and database. This approach allow the module to work per OpenCart system workflow.</p>

<table class="table table-striped mt-10">
    <thead>
        <tr>
            <td class="col-xs-2 col-sm-3">Editor</td>
            <td>Save Destination</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Controller</td>
            <td>catalog/controller/extension/architect/<code>{{ docs.identifier }}</code>.php</td>
        </tr>
        <tr>
            <td>Model</td>
            <td>catalog/model/extension/architect/<code>{{ docs.identifier }}</code>.php</td>
        </tr>
        <tr>
            <td>Template</td>
            <td>catalog/model/extension/architect/<code>{{ docs.identifier }}</code>.php</td>
        </tr>
        <tr>
            <td>Modification</td>
            <td>Database table <code>modification</code> with "code" identifier <code>architect_{{ docs.identifier }}</code></td>
        </tr>
        <tr>
            <td>Event</td>
            <td>
                Database table <code>event</code> with "code" identifier <code>architect_{{ docs.identifier }}</code><br>
                catalog/controller/extension/architect/event/<code>{{ docs.identifier }}</code>.php
            </td>
        </tr>
    </tbody>
</table>


<h3 class="legend">Codetags</h3>
<p>Custom tags that replaced when save sub-module and it's available to all editors.</p>

<table class="table table-striped mt-10">
    <thead>
        <tr>
            <td class="col-xs-2 col-sm-3">Tags</td>
            <td>Replacement</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{module_id}</td>
            <td><b>{{ docs.module_id }}</b></td>
        </tr>
        <tr>
            <td>{identifier}</td>
            <td><b>{{ docs.identifier }}</b></td>
        </tr>
        <tr>
            <td>{author}</td>
            <td>{{ docs.author }}</td>
        </tr>
        <tr>
            <td>{controller_class}</td>
            <td>ControllerExtensionArchitect<code>{{ docs.identifier }}</code></td>
        </tr>
        <tr>
            <td>{model_class}</td>
            <td>ModelExtensionArchitect<code>{{ docs.identifier }}</code></td>
        </tr>
        <tr>
            <td>{model_path}</td>
            <td>extension/architect/<code>{{ docs.identifier }}</code></td>
        </tr>
        <tr>
            <td>{model_call}</td>
            <td>extension_architect_<code>{{ docs.identifier }}</code></td>
        </tr>
        <tr>
            <td>{template_path}</td>
            <td>extension/architect/<code>{{ docs.identifier }}</code></td>
        </tr>
        <tr>
            <td>{ocmod_name}</td>
            <td>Architect #<code>{{ docs.module_id }}</code> - Sub-module name</td>
        </tr>
        <tr>
            <td>{ocmod_code}</td>
            <td><code>{{ docs.identifier }}</code></td>
        </tr>
        <tr>
            <td>{event_class}</td>
            <td>ControllerExtensionArchitectEvent<code>{{ docs.identifier }}</code></td>
        </tr>
        <tr>
            <td>{event_path}</td>
            <td>extension/architect/event/<code>{{ docs.identifier }}</code></td>
        </tr>
    </tbody>
</table>

<p><b>Notes:</b></p>
<ul>
    <li>The <code>{identifier}</code> replacement above is the real identifier for current sub-module.</li>
    <li>For consistency, Modification and Event <code>code</code> always replaced with prefixed sub-module identifier.</li>
    <li>Tab Options: when all options evaluated to true then sub-module entrance <code>controller::index()</code> will be executed. This options not affecting Model, Template, Modification or Event.</li>
</ul>
